{% extends './base.html' %} {% block title %}Admin me Store | home{% endblock %}
{% block body %} {% include('partials/_navbar.html') %}
    <!-- Dashboard - css  -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}"/>

<!-- Navegacion  -->
<div class="contenedor">
  <div class="navigation">
    <ul>
      <li>
        <a href="#">
          <span class="icon" >
            <img src="{{ url_for('static', filename='ico/menu.svg') }}" alt="">
          </span>
          <span class="title">Menu</span>
        </a>
      </li>
      <li>
        {% if current_user.rol == 0 %}
        <a href="{{ url_for('gusuarios.usuarios')}}">
          <span class="icon" >
            <img src="{{ url_for('static', filename='ico/users.svg') }}" alt="">
          </span>
          <span class="title">Usuarios</span>
        </a>
        {% else %}
        <!-- No aparece para el rol usuario -->
        {% endif %}
      </li>
      <li>
        <a href="{{ url_for('gclientes.clientes')}}">
          <span class="icon" >
            <img src="{{ url_for('static', filename='ico/clientes.svg') }}" alt="">
          </span>
          <span class="title">Clientes</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('gproveedores.proveedores')}}">
          <span class="icon" >
            <img src="{{ url_for('static', filename='ico/factory.svg') }}" alt="">
          </span>
          <span class="title">Proveedores</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('gproductos.productos')}}">
          <span class="icon" >
            <img src="{{ url_for('static', filename='ico/product.svg') }}" alt="">
          </span>
          <span class="title">Productos</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('gcompras.compras')}}">
          <span class="icon" >
            <img src="{{ url_for('static', filename='ico/buy.svg') }}" alt="">
          </span>
          <span class="title">Compras</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('gventas.ventas')}}">
          <span class="icon" >
            <img src="{{ url_for('static', filename='ico/sell.svg') }}" alt="">
          </span>
          <span class="title">Ventas</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('gpresupuestos.presupuestos')}}">
          <span class="icon" >
            <img src="{{ url_for('static', filename='ico/budget.svg') }}" alt="">
          </span>
          <span class="title">Presupuestos</span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('login.logout')}}">
          <span class="icon" >
            <img src="{{ url_for('static', filename='ico/logout.svg') }}" alt="">
          </span>
          <span class="title">Salir</span>
        </a>
      </li>
    </ul>
  </div>
</div>




{% endblock %}
