{% extends './base.html' %} {% block title %}Admin me Store | home{% endblock %}
{% block body %}
{% include('partials/_navbar.html') %}
<div class="card mb-1 text-white bg-dark mt-1">
    <div class="card-body">

        <div class="container">
            <div class="row d-flex justify-content-between" >
                <div class="col-4">
                    <h5> Inicio </h5>
                </div>
                <div class="col-4">
                    <h6>Modo</h6>
                    {% if current_user.rol == 0 %}
                    <h6 class="text-danger">Administrador</h6>
                    {% else %}
                    <h6 class="text-danger">Usuario</h6>
                    {% endif %}
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col">
                    <h5>Bienvenido {{ current_user.fullname }}</h5>
                </div>
            </div>
            <div class="row justify-content-evenly">
                {% if current_user.rol == 0 %}
                <div class="col-4">
                    <a type="button" class="btn btn-secondary" href="{{ url_for('gusuarios.usuarios')}}"> Usuarios </a>
                </div>
                
                {% else %}
                <div class="col-4">
                    <a type="button" class="btn btn-secondary disabled" style="color:grey" href="" disabled> Usuarios </a>
                </div>
                {% endif %}
                <div class="col-4">
                    <a type="button" class="btn btn-secondary" href="{{ url_for('gclientes.clientes')}}"> Clientes </a>
                </div>
                <div class="col-4">
                    <a type="button" class="btn btn-secondary" href="{{ url_for('gproveedores.proveedores')}}"> Proveedores </a>
                </div>
            </div>
            <div class="row justify-content-evenly mt-2">
                <div class="col-4">
                    <a type="button" class="btn btn-secondary" href="{{ url_for('login.logout')}}"> Salir </a>
                </div>
            </div>
        </div>
        
    </div>

</div>


{% endblock %}
