{% extends './base.html' %} {% block title %}Admin me Store | home{% endblock %}
{% block body %}
{% include('partials/_navbar.html') %}
<div class="card mb-1 text-white bg-dark mt-1">
    <div class="card-body">
        <div class="d-flex justify-content-between" >
            <h5> Inicio </h5>
            
            {% if current_user.rol == 0 %}
            <b>Modo <b class="text-danger">Administrador</b> </b>
            {% else %}
            <b>Modo <b class="text-danger">Usuario</b> </b>
            {% endif %}
        </div>
        <div class="d-flex justify-content-center">
                <h5>Modulos</h5>
        </div>
        <div class="container">
            <div class="row">
                {% if current_user.rol == 0 %}
                <div class="col">
                    <a type="button" class="btn btn-secondary" href="{{ url_for('gusuarios.usuarios')}}"> Usuarios </a>
                </div>
                
                {% else %}
                <div class="col">
                    <a type="button" class="btn btn-secondary disabled" style="color:grey" href="" disabled> Usuarios </a>
                </div>
                {% endif %}
                <div class="col">
                    <a type="button" class="btn btn-secondary" href="{{ url_for('gclientes.clientes')}}"> Clientes </a>
                </div>
                <div class="col">
                    <a type="button" class="btn btn-secondary" href="{{ url_for('gproveedores.proveedores')}}"> Proveedores </a>
                </div>
                <div class="col">
                    <a type="button" class="btn btn-secondary" href="{{ url_for('gproductos.productos')}}"> Productos </a>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <a type="button" class="btn btn-secondary" href="{{ url_for('gcompras.compras')}}"> Compras </a>
                </div>
                <div class="col">
                    <a type="button" class="btn btn-secondary" href="#"> Ventas </a>
                </div>
            </div>
            <div class="row mt-2 ">
                <div class="col d-flex justify-content-end">
                    <a type="button" class="btn btn-secondary" href="{{ url_for('login.logout')}}"> Salir </a>
                </div>
            </div>
        </div>
        
    </div>

</div>


{% endblock %}
