<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    
    <a class="navbar-brand" href="/" >
      <img src="{{ url_for('static', filename='ico/store-svgrepo-com2.svg') }}" alt="" width="50" height="35" class="d-inline-block align-text-top">
      Admin me Store | {{current_user.fullname}}
      {% if current_user.rol == 0 %}
      <img src="{{ url_for('static', filename='ico/admin.svg') }}" alt="" width="50" height="30" class="d-inline-block align-text-top">
      {% else %}
      <img src="{{ url_for('static', filename='ico/user.svg') }}" alt="" width="50" height="30" class="d-inline-block align-text-top">
      {% endif %}
      |
    </a>
    <a href="/">
      epa
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/acercade">Información</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('login.logout') }}">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
