{% extends './base.html' %}

{% block title %} Admin me Store | Registro de compra {% endblock %}


{% block body %}
{% include('partials/_navbar.html') %}
<style>
    select option{
     background-color:rgb(125, 134, 144) !important;
    }
</style>
<div class="card mb-1 text-white bg-dark mt-1">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5> Registro de compra</h5>
            <div class="btn-group">
                <a href="/home" class="btn btn-secondary btn-sm ">Inicio</a>
                <a href="{{ url_for('gcompras.compras') }}" class="btn btn-secondary btn-sm ">Retorno</a>
                <a href="{{ url_for('login.logout') }}" class="btn btn-secondary btn-sm " >Salir</a>
            </div>
        </div>

        <form action="/rcompras" method="post" class="mt-2" name="registro" id="registro">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            {% if proveedores == "No" %}
            <h6>No hay proveedores que seleccionar</h6>
            {% else %}
            <div class="container-lg border border-primary-subtle rounded-3 ">
                <div class="row">
                    <div class="col mt-2 mb-2">
                        <table class="mb-2">
                            <thead>
                                <tr>
                                    <th>Proveedor</th>
                                    <th>Tipo de Compra</th>
                                    <th>Metodo de Pago</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td width="350">
                                        <select class="form-select" aria-label="Default select example" name="proveedor" id="provee" required>
                                            <option value="">Selecciona proveedor</option>
                                            {% for proveedor in proveedores %}
                                            <option value="{{ proveedor.fullname }}">{{ proveedor.fullname }}</option>
                                            {% endfor %}
                                          </select>
                                    </td>
                                    <td>
                                        <select class="form-select" aria-label="Default Tipo de Compra" name="tcompra">
                                            <option value="Contado" selected>Contado</option>
                                            <option value="Credito">Credito</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="form-select" aria-label="Default Metodo de Pago" name="mpago">
                                            <option value="Efectivo" selected>Efectivo</option>
                                            <option value="Tarjeta">Tarjeta</option>
                                            <option value="Transferencia">Transferencia</option>
                                            <option value="Otro">Otro</option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Numero Fact" aria-label="Numero Fact" name = "nfact" id="nfact" minlength="4" maxlength="10" required>
                                        <script type="text/javascript">
                                            $(document).ready(function(){
                                                $("#nfact").keypress(function(event) {
                                                var key = event.which || event.keyCode;
                                                if ((key<65) && (key!=57) &&  (key!=48) &&  (key!=49) &&  (key!=50) &&  (key!=51) &&  (key!=52) &&  (key!=53) &&  (key!=54) && (key!=55) && (key!=56) || (key>90) && (key<97) ||  (key>122 && key != 241 && key != 209 && key != 225 && key != 233 && key != 237 && key != 243 && key != 250 && key != 193 && key != 201 && key != 205 && key != 211 && key != 218)){
                                                    return false;
                                                }
                                                });
                                            });
                                        </script>
                                    </td>
                                    <td>
                                        <div class="input-group date" id="datepicker">
                                            <input type="text" class="form-control" placeholder="Fecha Factura" name="fechaf" id="date" minlength="9" maxlength="10" required/>
                                            <span class="input-group-append">
                                                <span class="input-group-text bg-light d-block">
                                                <img src="{{url_for('static', filename='ico/calendar2-date.svg')}}" alt="ico">
                                                </span>
                                            </span>
                                        </div>
                                        <script type="text/javascript">
                                            jQuery(document).ready(function(){
                                                // Listen for the input event.
                                                jQuery("#date").on('input', function (evt) {
                                                    // Allow only numbers.
                                                    jQuery(this).val(jQuery(this).val().replace(/[^0-9,/]/g, ''));
                                                });
                                            });
                                        </script>
                                        <script>
                                            $(function(){
                                                $('#datepicker').datepicker();
                                            });
                                        </script>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
            
                        <table id="tproductos" class="mt-2">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Costo</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider border-primary-subtle">
                                <tr > 
                                    <td width="350"> 
                                        <select class="form-select val" aria-label="Default select example" name="producto" required>
                                        <option value="">Selecciona un producto</option>
                                        {% for producto in productos %}
                                        <option value="{{ producto.nombre }}">{{ producto.nombre }}</option>
                                        {% endfor %}
                                        </select>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" placeholder="" value="1" inputmode="numeric" name="cantidad" maxlength="4" min="1" max="9999" id="cantidad">
                                    </td>
                                    <td>
                                        <input type="number" class="form-control" placeholder="" value="0.00" inputmode="numeric" name="costo" maxlength="10" step="0.01" min="0.01" max="9999999999" id="costo">
                                    </td>
                                    <td>
                                        <a onclick="agregar()"><img src="{{ url_for('static', filename='ico/add-plus.svg') }}" alt="" width="50" height="35" style="filter: invert(1)"></a>
                                    </td>
                                </tr>
            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



            <div>
                <input type="hidden" name="item" id="item">
            </div>
            <div class="d-flex justify-content-end">
                <div class="row mt-2">
                    <div class="col">
                        <div class="btn-group">
                            
                            <button type="submit" class="btn btn-primary btn-sm">Registrar</button>
                            <a href="{{ url_for('gcompras.compras') }}" class="btn btn-secondary btn-sm ">Retorno</a>
                            <a class="btn btn-secondary btn-sm" href="{{ url_for('login.logout') }}">Salir</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
</div>
<script>
                
    $(document).ready(function() {
        $('#registro').on('submit', function(e){
          // validation code here
          
          if(hayduplicados()) {
            toastr.options = {
                "closeButton": true,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-bottom-center",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.warning("Se encontraron productos duplicados");
            return false;
          }
          
        });
      });
      
       
    function hayduplicados(){
        const controls=document.querySelectorAll('.val');
        var val=[];
        for(var i = 0; i < controls.length; i++) {
            if(val.includes(controls[i].value)){
                var dale = true;
                break;
            } 
            val.push(controls[i].value);
        }
        if(dale) {
            return dale;
        } else {
            return false;;
        }
    }


    var n = 1;
    function setValue(id, newvalue){
        var s = document.getElementById(id);
        s.value = newvalue;
    } 
    window.onload = function() {
        setValue("item", n);
        // console.log("valor de n es:" + n);
    }
    function agregar() {
        if (n<10) {
            var table = document.getElementById("tproductos")
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            
            cell1.innerHTML = '<select class="form-select val" aria-label="Default select example" name="producto'+ n +'" required><option value="">Selecciona un producto</option>{% for producto in productos %}<option value="{{ producto.nombre }}">{{ producto.nombre }}</option>{% endfor %}</select>';
            cell2.innerHTML = '<input type="number" class="form-control" placeholder="" value="1" inputmode="numeric" name="cantidad'+ n +'" maxlength="4" min="1" max="9999" id="cantidad'+ n +'">';
            cell3.innerHTML = '<input type="number" class="form-control" placeholder="" value="0.00" inputmode="numeric" name="costo'+ n +'" maxlength="10" step="0.01" min="0.01" max="9999999999" id="costo'+ n +'">';
            cell4.innerHTML = '<a onclick="agregar()"><img src="{{ url_for("static", filename="ico/add-plus.svg") }}" alt="" width="50" height="35" style="filter: invert(1)"></a><a onclick="eliminar()"><img src="{{ url_for("static", filename="ico/add-minus.svg") }}" alt="" width="50" height="35" style="filter: invert(1)"></a>';
            ++n;
            setValue("item", n);
            //console.log("valor de n es:" + n);
        }
    }   

    function eliminar() {
        document.getElementById("tproductos").deleteRow(-1);
        --n
        setValue("item", n);
        //console.log("valor de n es:" + n);
    }
</script>

{% endblock %}