body {
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0f2027,
    #203a43,
    #2c5364
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0f2027,
    #203a43,
    #2c5364
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.bg-black {
  background: #477706;
}

.bg-agregar {
  background: #0a9745;
}

.bg-prof {
  background: #494b4a;
}

/* Lista */

body.lista {
  background: white !important;
}

textarea {
  resize: none;
}

#count_message {
  
  
  margin-right: 5px !important;

}

.tcentrartodo {
  text-align: center !important;
  vertical-align: middle !important;
}

.tcentrarh {
  text-align: center !important;
}